#banner-container {
    display: flex;
    background-image: url('/background-banner.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    height: 100vh;
    #main-text{
        display: flex;
        position: absolute;
        flex-direction: column;
        height: auto;
        width: auto;
        top: 50%;
        //left: 8%;
        padding-left: 10%;
        #text{
            position: relative;
            span{
                font-size: 40px;
                color: white;
                font-weight: 100;
                letter-spacing: 5px;
                position: absolute;
                top: -30px;
            }
            h1{
                font-size: 90px;
                font-family: 'Poppins', sans-serif;
                font-weight: bold;
                color: white;
                top: 100px;
            }
            p {
                font-size: 22px;
                //color: #FF007B;
                color: white;
            }

        }
    }
}
